<pagetitle title="'推荐名医'"></pagetitle>
<div class="wrap">
    <div class="text-center info">优中选优，我们给您推荐一下名医
    </div>
    <div class="doctor-item">
        <div class="doctor-avatar">
            <imageview data-rate="105/128" src="'../images/avatar.png'" err="'../images/avatar.png'"></imageview>
        </div>
        <div class="doctor-meta">
            <span class="doctor-name">梁一建</span> <span class="doctor-title">教授</span>
            <div>骨科 主任医师</div>
            <div class="text-ellipsis">深圳市第二人民医院</div>
            <div class="doctor-action">
                <i class="checkbox" ng-class="{'active':doctor.id}"></i>
                <div class="text-center">约TA</div>
            </div>
        </div>
        <div class="doctor-summary">
            擅长：脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...
        </div>
    </div>
    <div class="doctor-item">
        <div class="doctor-avatar">
            <imageview data-rate="105/128" src="'../images/avatar.png'" err="'../images/avatar.png'"></imageview>
        </div>
        <div class="doctor-meta">
            <span class="doctor-name">梁一建</span> <span class="doctor-title">教授</span>
            <div>骨科 主任医师</div>
            <div class="text-ellipsis">深圳市第二人民医院</div>
            <div class="doctor-action">
                <i class="checkbox active" ng-class="{'active':doctor.id}"></i>
                <div class="text-center">约TA</div>
            </div>
        </div>
        <div class="doctor-summary">
            擅长：脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...
        </div>
    </div>
    <div class="doctor-item">
        <div class="doctor-avatar">
            <imageview data-rate="105/128" src="'../images/avatar.png'" err="'../images/avatar.png'"></imageview>
        </div>
        <div class="doctor-meta">
            <span class="doctor-name">梁一建</span> <span class="doctor-title">教授</span>
            <div>骨科 主任医师</div>
            <div class="text-ellipsis">深圳市第二人民医院</div>
            <div class="doctor-action">
                <i class="checkbox" ng-class="{'active':doctor.id}"></i>
                <div class="text-center">约TA</div>
            </div>
        </div>
        <div class="doctor-summary">
            擅长：脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致...
        </div>
    </div>
    <div>
        <i class="checkbox pull-left" style="margin-right: 5px"></i> 没有合适的，联系在线客服，为我私人安排。
    </div>
</div>
<span class="booking-btn">预约名医</span>
<div class="wrap">
    <div class="notfound">
        <imageview data-rate="209/241" src="'../images/notfound.png'"></imageview>
    </div>
    <p class="text-center">
        抱歉，暂时无法为您匹配到合适的医生， 但是没有关系哟，你还是可以直接预约， 我们的客服人员会为您私人安排！
    </p>
    <span class="btn btn-primary full-width btn-lg">联系客服为我在私人安排名医</span>
</div>
