<pagetitle title="'推荐名医'"></pagetitle>
<div class="wrap" ng-if="doctors.length>0">
    <div class="text-center info">优中选优，我们给您推荐一下名医
    </div>
    <div class="doctor-item" ng-repeat="doctor in doctors" ng-click="go(doctor.doctor_id)">
        <div class="doctor-avatar">
            <imageview data-rate="105/128" src="staticImageUrl+doctor.images_01" center-only err="'../images/avatar.png'"></imageview>
        </div>
        <div class="doctor-meta">
            <span class="doctor-name">{{doctor.name}}</span> <span class="doctor-title">{{doctor.doctor_level}}</span>
            <div>{{doctor.department}} {{doctor.technical_title}}</div>
            <div class="text-ellipsis">{{doctor.hospital_name}}</div>
            <div class="doctor-action" ng-click="check_doctor(doctor.doctor_id)">
                <i class="checkbox" ng-class="{'active':input.check_doctor_id==doctor.doctor_id}"></i>
                <div class="text-center">约TA</div>
            </div>
        </div>
        <div class="doctor-summary">
            擅长：{{doctor.good_at}}
        </div>
    </div>
    <div ng-click="check_doctor(0)">
        <i class="checkbox pull-left" ng-class="{'active':input.check_doctor_id=='0'}" style="margin-right: 5px"></i> 没有合适的，联系在线客服，为我私人安排。
    </div>
    <span class="booking-btn" ng-click="booking()">预约名医</span>
</div>
<div class="wrap" ng-if="doctors.length==0">
    <div class="notfound">
        <imageview data-rate="209/241" src="'../images/notfound.png'"></imageview>
    </div>
    <p class="text-center">
        抱歉，暂时无法为您匹配到合适的医生， 但是没有关系哟，你还是可以直接预约， 我们的客服人员会为您私人安排！
    </p>
    <span class="btn btn-primary full-width btn-lg" ng-click="booking()">联系客服为我在私人安排名医</span>
</div>
