<pagetitle title="'名医详情'"></pagetitle>
<div class="wrap bg-primary text-center doctor-case">
    <div class="doctor-name">梁一键</div>
    <div class="doctor-avatar">
        <imageview data-rate="1" src="'../images/avatar.png'" err="'../images/avatar.png'" class="doctor-avatar"></imageview>
    </div>
    <div>骨科 主任医师</div>
    <div>深圳市第二人民医院</div>
</div>
<div class="tab justified">
    <span class="tab-item" ng-class="{'active':tab_item == 'doctor_info'}" ng-click="active_tab('doctor_info')">医生信息</span>
    <span class="tab-item" ng-class="{'active':tab_item == 'doctor_comment'}" ng-click="active_tab('doctor_comment')">用户评价（2）</span>
</div>
<div ng-if="tab_item == 'doctor_info'">
    <div class="wrap">
        <span class="text-primary">擅长</span>
        <p>
            脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致疾病的非融合固定手术，以及微创行肩、肘、髋、膝等人工关节置换术以治疗各种关节疾病，并擅长腰椎间盘镜行各种腰椎微创手术。
        </p>
    </div>
    <div class="line"></div>
    <div class="wrap">
        <span class="text-primary">擅长</span>
        <p>
            脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致疾病的非融合固定手术，以及微创行肩、肘、髋、膝等人工关节置换术以治疗各种关节疾病，并擅长腰椎间盘镜行各种腰椎微创手术。
        </p>
    </div>
    <div class="line"></div>
</div>
<div ng-if="tab_item == 'doctor_comment'">
    <div class="comments">
        <div class="comment">
            <div class="comment-avatar pull-left">
                <imageview data-rate="1" src="'../images/avatar.png'" err="'../images/avatar.png'" class="doctor-avatar"></imageview>
            </div>
            <div class="comment-name">便利店小王子</div>
            <div class="comment-content clearfix">
                脊柱疾病及关节疾病的诊断和治疗。尤其是颈椎疾病和颈椎外伤，脊柱侧弯的手术矫正，脊柱退变所致疾病的非融合固定手术，以及微创行肩、肘、髋、膝等人工关节置换术以治疗各种关节疾病，并擅长腰椎间盘镜行各种腰椎微创手术。
            </div>
        </div>
    </div>
</div>