<pagetitle title="'找名医'"></pagetitle>
<div class="wrap">
    <div class="text-center info">欢迎来到飞医刀， 请详细填写下面预约信息，我们将为您匹配最优名医
    </div>
    <form name="searchForm" ng-submit="ajaxForm()">
        <div class="booking-select required">
            <select name="province" ng-model="input.province" required ng-options="province as province.name for province in provinces"></select>
        </div>
        <div class="grid">
            <div class="grid-left">
                <div class="booking-select required">
                    <select name="city" ng-model="input.city" required ng-options="city as city.name for city in input.province.city"></select>
                </div>
            </div>
            <div class="grid-right">
                <div class="booking-select required">
                    <select name="district" ng-model="input.district" required ng-options="district as district.name for district in input.city.district"></select>
                </div>
            </div>
        </div>
        <div class="booking-input required">
            <input type="text" name="hospital" placeholder="目前就诊医院" ng-model="input.hospital" required>
        </div>
        <div class="booking-input required">
            <input type="text" name="department" placeholder="目前就诊医院科室" ng-model="input.department" required>
        </div>
        <div class="booking-input required">
            <input type="text" name="username" placeholder="您的姓名" ng-model="input.username" required>
        </div>
        <div class="booking-input required">
            <input type="tel" name="telephone" placeholder="您的手机" ng-model="input.telephone" required>
        </div>
        <div class="grid">
            <div class="grid-left">
                <div class="booking-input required">
                    <input type="tel" name="smscode" placeholder="验证码" ng-model="input.smscode" required>
                </div>
            </div>
            <div class="grid-right">
                <div class="booking-input">
                    <countdown class="smsbtn" countdown="countdown" ng-class="{'color-primary':countdown.message!='获取验证码','disabled':searchForm.telephone.$invalid}" countdown-disabled="searchForm.telephone.$invalid">{{countdown.message}}</countdown>
                </div>
            </div>
        </div>
        <div class="booking-input required">
            <input type="text" name="disease_name" placeholder="疾病诊断（疾病名称）" ng-model="input.disease_name" required>
        </div>
        <div class="booking-input">
            <input type="text" name="disease_content" placeholder="疾病概述" ng-model="input.disease_content">
        </div>
        <p ng-click="choose_image()">
            <span class="btn btn-success btn-lg full-width">+ 上传病例或影像资料</span>
        </p>
        <div style="position: relative;" ng-if="input.disease_images">
            <imageview ng-if="input.disease_images" data-rate="1" src="staticImageUrl + input.disease_images" center-only></imageview>
            <span class="close" style="position: absolute;right: 0;top: 0;display: inline-block;width:25px;height:25px;vertical-align:middle;text-align:center;border-radius: 100%;background-color: rgba(0,0,0,0.5);color:white" ng-click="remove()">x</span>
        </div>
        <p style="margin-top: 15px">
            <button type="submit" class="btn btn-primary btn-lg full-width" ng-disabled="searchForm.$invalid">预约名医</button>
        </p>
    </form>
</div>
