<pagetitle title="'译员入驻'"></pagetitle>
<div class="wrap">
    <form name="signinForm" ng-submit="ajaxForm()">
        <div class="booking-input required">
            <input type="text" name="telephone" placeholder="您的手机号" ng-model="input.telephone" required>
        </div>
        <div class="grid">
            <div class="grid-left">
                <div class="booking-input required">
                    <input type="tel" name="smscode" placeholder="验证码" ng-model="input.smscode" required>
                </div>
            </div>
            <div class="grid-right">
                <div class="booking-input">
                    <button class="smsbtn">获取验证码</button>
                </div>
            </div>
        </div>
        <div class="booking-input required">
            <input type="password" name="password" placeholder="请输入密码" ng-model="input.password" required>
        </div>
        <button type="submit" class="btn btn-primary btn-lg full-width">登录</button>
    </form>
</div>