<pagetitle title="'名医详情'"></pagetitle>
<div class="wrap bg-primary text-center doctor-case">
    <h3 class="doctor-name">{{doctor.name}}</h3>
    <div class="doctor-avatar">
        <imageview data-rate="1" src="staticImageUrl+doctor.images_01" center-only err="'../images/avatar.png'" class="doctor-avatar"></imageview>
    </div>
    <div>{{doctor.department}} {{doctor.technical_title}}</div>
    <div>{{doctor.hospital_name}}</div>
</div>
<div class="tab justified">
    <span class="tab-item" ng-class="{'active':tab_item == 'doctor_info'}" ng-click="active_tab('doctor_info')">医生信息</span>
    <span class="tab-item" ng-class="{'active':tab_item == 'doctor_comment'}" ng-click="active_tab('doctor_comment')">用户评价（{{total_comment_amount}}）</span>
</div>
<div ng-if="tab_item == 'doctor_info'">
    <!-- <div class="wrap">
        <span class="text-primary">擅长</span>
        <p>
            {{doctor.good_at}}
        </p>
    </div>
    <div class="line"></div> -->
    <div class="wrap">
        <span class="text-primary">推荐理由</span>
        <p>
            {{doctor.recommended_reason}}
        </p>
    </div>
    <div class="line"></div>
    <div class="wrap">
        <span class="text-primary">荣誉</span>
        <p>
            {{doctor.honor}}
        </p>
    </div>
    <div class="line"></div>
    <div class="wrap">
        <span class="text-primary">执业经历</span>
        <p>
            {{doctor.practice_experience}}
        </p>
    </div>
    <div class="line"></div>
    <div class="wrap">
        <span class="text-primary">教育背景</span>
        <p>
            {{doctor.teach_info}}
        </p>
    </div>
    <div class="line"></div>
</div>
<div ng-if="tab_item == 'doctor_comment'">
    <div class="comments">
        <div class="comment" ng-repeat="comment in comments">
            <div class="comment-avatar pull-left">
                <imageview data-rate="1" src="comment.user_images_01" err="'../images/avatar.png'" class="doctor-avatar"></imageview>
            </div>
            <div class="comment-name">{{comment.comment_name}}</div>
            <div class="comment-content clearfix">
                {{comment.note}}
            </div>
        </div>
    </div>
    <div class="text-center wrap" ng-if="!no_more">
        <span class="btn btn-primary" ng-click="loadMore()">{{page.message}}</span>
    </div>
    <div class="text-center wrap" ng-if="comments.length == 0">
        <span>暂无评价</span>
    </div>
</div>