<pagetitle title="'名医预约'"></pagetitle>
<div class="wrap">
    <div class="text-center info">欢迎来到飞医刀， 请详细填写下面预约信息，我们将为您匹配最优名医
    </div>
    <form name="searchForm" ng-submit="ajaxForm()">
        <div class="grid">
            <div class="grid-left">
                <div class="booking-select required">
                    <select name="province" ng-model="input.province" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
            <div class="grid-right">
                <div class="booking-select required">
                    <select name="city" ng-model="input.city" required>
                        <option value="">请选择</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="booking-input required">
            <input type="text" name="hospital" placeholder="目前就诊医院" ng-model="input.hospital" required>
        </div>
        <div class="booking-input required">
            <input type="text" name="department" placeholder="目前就诊医院科室" ng-model="input.department" required>
        </div>
        <div class="booking-input required">
            <input type="text" name="username" placeholder="您的姓名" ng-model="input.username" required>
        </div>
        <div class="booking-input required">
            <input type="tel" name="telephone" placeholder="您的手机" ng-model="input.telephone" required>
        </div>
        <div class="grid">
            <div class="grid-left">
                <div class="booking-input required">
                    <input type="tel" name="smscode" placeholder="验证码" ng-model="input.smscode" required>
                </div>
            </div>
            <div class="grid-right">
                <div class="booking-input">
                    <button class="smsbtn">获取验证码</button>
                </div>
            </div>
        </div>
        <div class="booking-input">
            <input type="text" name="diagnosis" placeholder="疾病诊断（疾病名称）" ng-model="input.diagnosis" required>
        </div>
        <div class="booking-input">
            <input type="text" name="disease" placeholder="疾病概述" ng-model="input.disease" required>
        </div>
        <p>
            <span class="btn btn-success btn-lg full-width">+ 上传病例或影像资料</span>
        </p>
        <p>
            <button type="submit" class="btn btn-primary btn-lg full-width">预约名医</button>
        </p>
    </form>
</div>
